/* Estilo para o conteúdo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 100%;
    color: #333;
}

/* Container principal */
.container-principal {
    background-color: #ffffff;
    padding: 1px 35px 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;  /* Adiciona margem para separar do próximo contêiner */
}

/* Container secundário */
.container-secundario {
    background-color: #ffffff;
    padding: 15px 35px 2px 20px;  /* Diferente do principal */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    color: #333;
    margin-bottom: 20px;  /* Adiciona margem para separar do próximo contêiner */
}

/* Estilo para os títulos */
h1, h2, h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

h1 {
    font-size: 2.5em;
    color: #3182ce;
}

h2 {
    font-size: 2em;
    color: #2c5282;
}

h3 {
    font-size: 1.5em;
    color: #4a5568;
}

/* Estilo para as redes sociais */
.redesocial {
    margin-top: 20px;
    width: 95%;
}

.redesocial h4 {
    font-size: 1.4em;
    color: #3182ce;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    color: #3182ce;
    text-decoration: none;
    border: 2px solid #3182ce;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

a:hover {
    background-color: #3182ce;
    color: white;
}

i {
    font-size: 1.6em;
    margin-right: 12px;
}

/* Estilo da moldura da seção de orientação */
.moldura {
    background-color: #f7fafc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo da orientação */
.orientacao {
    padding: 15px;
    background-color: #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orientacao p {
    font-size: 1.1em;
    color: #4a5568;
    margin: 5px 0;
}

.orientacao h3 {
    font-size: 1.4em;
    color: #3182ce;
    margin-top: 10px;
}

pre {
    background-color: #f7fafc;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2em;
    color: #2d3748;
    border: 2px solid #ccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
}